

.slider-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-center {
    margin: 0 auto;
    margin-top: 4rem;
    width: 80vw;
    height: 450px;
    max-width: 800px;
    text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;
  }

  .create-blogpost1 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .creat{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: none;
    width: 150px;
    margin-right: 10px;
    background: linear-gradient(214deg, #F1765F 0%, #1478E5 100%);
  }
.liste {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: rgba(31, 31, 31, 0.40);
    border: none;
    width: 150px;
}
.liste-dark {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 10px;
    background: rgba(245, 245, 245, 0.40);
    width: 150px;
}
  .crea {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 150px;
    padding: 5px 5px;
    color: #fff;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 15px;
    font-family: 'Poppins';
    font-size: 14px;
    background: linear-gradient(214deg, #F1765F 0%, #1478E5 100%);
  }
  .listen {
    display: inline-flex;
    color: #fff;
    padding: 5px 10px;
    font-family: 'Poppins';
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px; 
    border-radius: 10px;
    background: rgba(31, 31, 31, 0.40);
    width: 160px;
  }
  .listen-dark {
    display: inline-flex;
    color: #fff;
    padding: 5px 10px;
    font-family: 'Poppins';
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px; 
    border-radius: 10px;
    background: rgba(245, 245, 245, 0.40);
    width: 160px;
  }
  .grey {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    border-radius: 50px;
    background: var(--gray-5, #E0E0E0);
    cursor: pointer;
    padding: 5px 20px;
  }
  .pink {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    border-radius: 50px;
    background: rgba(255, 220, 220, 0.70);
    cursor: pointer;
    padding: 5px 20px;
  }
  .tagss {
    display: flex; flex-wrap: wrap; gap: 10px; margin-top: 40px;
  }

.slider-container h2{
    font-family: var(--font-familyone);
    margin-bottom: 10px;
}
.p{
    font-family: var(--font-familytwo);
    text-align: center;
}

.slide {
    margin: 0 auto;
    margin-top: 4rem;
    width: 80vw;
    height: 480px;
    max-width: 800px;
    text-align: justify;
    position: relative;
    display: flex;
    overflow: hidden;
}
section {
    /* position: absolute; */
    top: 0;
    left: 0;
    /* width: 100%;
    height: 100%;
    opacity: 0; */
    transition: all 0.5s linear;
    /* justify-content: center; */
}
.activeSlide {
    opacity: 1;
    transform: translateX(0);
  }
.lastSlide {
    opacity: 0;
    transform: translateX(100%);
  }
.nextSlide {
    opacity: 0;
    transform: translateX(-100%);
  }
  

  
  .slide h1 {
    font-size: 3rem;
    text-align: center;
  }

  .feat{
      padding: 2px;
      width: 100px;
      background-color: rgb(235, 235, 235);
      color: #000;
      font-family: var(--font-familyone);
      font-weight: 600;
      border-radius: 50px;
      text-align: center;
      margin-top: 23px
  }
  .date-publish{
      margin-top: 20px;
      font-family: var(--font-familytwo);
      color: black;
      display: flex;
      gap: 20px;
  }
  .dark {
    background: var(--darkthemeblack, linear-gradient(134deg, #1E1E1E 0%, #1E1E1E 63.29%));
  }
  .light {
    background: #FFF
    ;
  }
  .create{
      color: white;
      font-family: var(--font-familyone);
      font-weight: 500;
      font-size: 20px;
      margin-top: 20px;
  }
  .pp{
      font-family: var(--font-familytwo);
      font-size: 15px;
      color: #fff;
      margin-top: 10px;
  }
  .blogs{
      margin-top: 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
  }


   .blog-post{
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-content: center;
       padding: 20px;
       margin-top: 40px;
   } 
   .blogImg{
       width: 100%;
       height: 300px;
   }
   .blogImg img{
       width: 100%;
       height: 100%;
       object-fit: cover;
       object-position: center;
   }
   .date-publish2{
    color: rgba(31, 31, 31, 0.50);
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;

}
.date-publish2-dark{
    color: rgba(245, 245, 245, 0.80);
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;

}
.tittle{
    color: rgba(31, 31, 31, 0.80);
    font-family: 'Poppins', Sans Serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}
.tittle-dark{
    color: rgba(245, 245, 245, 0.80);
    font-family: 'Poppins', Sans Serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}
.blog-carousel-title {
    position: absolute;
    top: 270px;
    margin-left: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 700;
}
.blog-carousel-color {
    background-color: rgba(31, 31, 31, 0.60);
}
.display-none {
    display: none;
}
.display-block {
    display: block;
}
.content{
    color: rgba(31, 31, 31, 0.60);
    text-align: justify;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-dark{
    color: rgba(245, 245, 245, 0.80);
    text-align: justify;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ct{
    margin-top: 30px;
    color: #000;
    display: flex;
    gap: 20px;
    outline: 1px solid #9747FF;
    outline-style: dashed;
    padding: auto;
    width:80%;
    height: 50px;
    padding: 10px;
    justify-content: center;
}
.ct span{
    border-radius: 50px;
    background: #C0E9F3;;
    border-radius: 10px;
    font-weight: 500;
    font-family: 'Poppins';
    display: flex;
    width: 50%;
    height: 100%;
    padding: 10px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    font-size: 10px;
}


.hhh{
    margin-top: 50px;
    width: 100%;
    background: black;
    height: 100vh;
}

/****Comment section**/
.comment{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 40px;
    gap: 20px;
    background: linear-gradient(170deg, rgba(217, 217, 217, 0.00) 0%, rgba(205, 226, 255, 0.33) 31.75%, rgba(172, 209, 255, 0.49) 60.89%, rgba(241, 231, 255, 0.00) 83.64%);
} 
.comment h3{
    font-family: var(--font-familyone);
    font-weight: 500;
}
.comment form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.comment form input{
    padding: 10px 20px;
    width: 300px;
    border: 2px solid #0E5BA7;
    outline: none;
    border-radius: 7px;
    font-family: var(--font-familytwo);
    font-weight: 600;
}

.comment form textarea{
    width: 300px;
    border: 2px solid #0E5BA7;
    border-radius: 7px;
    padding: 10px;
    outline: none;
    font-family: var(--font-familyone);
}
.comment form button{
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    background:#0E5BA7;
    color: #fff;
    font-family: var(--font-familyone);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
    .Appblog {
    border-bottom: 1px solid  rgba(135, 137, 139, 0.50);
    margin-left: 1%;
    margin-right: 5%;
}
.Appblog-dark {
    border-bottom: 1px solid  rgba(245, 245, 245, 0.50);
    margin-left: 1%;
    margin-right: 5%;
    }




  @media screen and (min-width:768px) {
      .slide{
          height: 500px;
      }
      .all{
          margin-top: 150px;
          width: 100%;
      }
      .date-publish{
          font-size: 30px;
      }
      .create{
          font-size: 30px;
      }
      .pp{
          font-size: 25px;
      }
      .feat{
          width: 150px;
          padding: 10px;
          font-size: 20px;
      }
      .comment form input{
          width: 500px;
          padding: 15px 25px;
          font-size: 17px;
      }
      .comment form textarea{
          width: 500px;
      }
  }
  @media screen and (min-width:960px) {
      .slider-container{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
      .slide{
          width: 95%;
          height: 700px;
          margin: auto;
          border-radius: 50px;
          margin-top: 50px;
      }
      .all{
          margin-top: 400px;
      }
      .blog-post{
          width: 100%;
          flex-direction: row;
          gap: 30px;
      }
      .blogImg{
          width: 45%;
          }
          .textPlace{
              width: 45%;
          }
      .Appblog{
          display: flex;
          flex-wrap: wrap;
          width: 100%;

      }
      .Appblog-dark{
        display: flex;
        flex-wrap: wrap;
        width: 100%;

    }
      .p{
          font-size: 25px;
      }
  }